{% extends "bills/base.html" %}

{% load staticfiles %}
{% block content %}

  <div class="container mainContent">

    <div class="row">

      <div class="col-xs-8">

      <h1>{{bill.title}}</h1>

      <p>{{bill.text}}<p>
      </div>

      <div class="col-xs-4">
        <h1>Some Comments</h1>
        <h5>Eman Em</h5>
        <p>Here's my ten cents; my two cents is free.</p>
        <h5>TrumpFan2016</h5>
        <p>@Eman Stop giving away free stuff, socialist!</p>
        <div>
          <textarea class="vert"></textarea>
          <button class="btn btn-info" type="submit">
            <i>
            </i>
            &nbsp;&nbsp;
            Submit
          </button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
