{% extends "bills/base.html" %}

{% load staticfiles %}
{% block content %}

<div class="container mainContent" style="margin-top:70px">

    <div class="row">
        <div class="col-xs-8" style="padding-right: 80px;">
            <div class="barWrapper">
                <div class="progress" style="height:20px;">
                    <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" style="width: 65%;">
                        <span class="popOver" title="" data-placement="top" data-toggle="tooltip" data-original-title="65%" aria-describedby="tooltip279578"> </span>
                        <div id="tooltip279578" class="tooltip fade top in" role="tooltip" style="top: -50px; left: 50.9333px; display: block;">
                            <div class="tooltip-arrow" style="left: 50%;"></div>
                            <div class="tooltip-inner">Referendum</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-8" >
            <h3 style="text-align:center;">
                <a>&lt;</a>{{ bill.title }}<a>&gt;</a>
            </h3>

            <p>There are {{ revisions.count }} revisions of this bill:</p>
            <ul>
                {% for revision in revisions %}
                <li><a href="{% url 'bills:revision' bill.id revision.id %}">{{ revision.date }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-4">

        </div>
    </div>

</div>
{% endblock %}
