$textBlue: #2c3e50;

.downstream {

  h1 {
    font-weight: 700;
    border-bottom: 1px solid $textBlue;
  }


  .mainContent {
    margin-top: 50px;

    p {
      margin-bottom: 21px;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.4;
      @media (min-width: 768px) {
        font-size: 22.5px;
      }
    }

    .imageWithCaption {
      margin:0 15px 20px 0;
      text-align: center;

      img {
        margin: 0 0 5px;
      }

      span.caption {
        padding: 0;
        margin: 0;
        font-size: 100%;
        line-height: 1.25;
        display: inline-block;
      }
    }

  }

  footer {
    padding: 0 0 15px;
    overflow: hidden;

    p {
      &.footerPhotoCredit {
        float: left;
      }
      &.footerAbout {
        float: right;
      }
      a {
        &:active,
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .contactUs {
    #contact_form {

      button[type="submit"] {
        width: 100%;
      }

      #success_message{
        display: none;
      }

      &.form-horizontal {
        .has-feedback .form-control-feedback {
          top: 15px;
        }
      }

    }
  }

  .blog {
    h3 {
      margin: 60px 0 5px;
      font-size: 200%;
      font-weight: bold;
    }
    h4 {
      font-size: 150%;
      font-weight: bold;
    }
    p.postInfo {
      font-size: 100%;
    }
    iframe {
      margin: 10px 0 30px;
    }
  }

}

.demoBill {
  .demo-annotator-adder-parent {
    position: relative;
  }
  .annotator-pencil {
    visibility: hidden;
  }
  .annotator-editor {
    display: none !important;
    &.annotator-original {
      display: block !important;
      visibility: hidden;
    }
  }
  .annotator-marginviewer-element {
    visibility: hidden;
    list-style: none;
  }
}

.introjs-tooltipReferenceLayer {
  .introjs-tooltipbuttons {
      text-align: center;
  }
  .introjs-skipbutton {
    display: none;
  }
}
