{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <title>Bill Tracker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% if debug %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bills/styles/dev/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bills/styles/dev/introjs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bills/styles/dev/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bills/styles/dev/st-menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bills/styles/dev/zhome.css' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'bills/styles/dist/style.min.css' %}" />
    {% endif %}
  </head>
  <body class="downstream">

    <body class="downstream" ng-app="bill-tracker">

      <div id="st-container" class="st-container">

        <!-- slide out mobile menu -->
        <div class="st-pusher">

          <nav class="st-menu st-effect-7" id="menu-7">
            <a id="logoText" href="/">
              <img id="logoImage" src="{% static "bills/images/logo-balloon.png" %}"
              alt="Bill Tracker logo" />
              Bill Tra<span class="fixBigKerningGap">c</span>k<span class="fixSmallKerningGap">e</span>r
            </a>
            <ul>
              <li>
                <a href="/bill-listing/">
                  <i class="fa fa-leanpub"></i>
                  &nbsp;Bills
                </a>
              </li>
              <li>
                <a href="/about-us/">
                  <i class="fa fa-users"></i>
                  &nbsp;About Us
                </a>
              </li>
              <li>
                <a href="/blog/">
                  <i class="fa fa-comments"></i>
                  &nbsp;Blog
                </a>
              </li>
              <li>
                <a href="/contact-us/">
                  <i class="fa fa-envelope"></i>
                  &nbsp;Contact
                </a>
              </li>
            </ul>
          </nav>

          <div class="st-content"> <!-- regular content wrapper -->

              <div class="st-content-inner"> <!-- extra div for emulating position:fixed of the menu -->

                <header>

                  <div class="container">

                    <a id="logoText" href="/">
                      <img id="logoImage" src="{% static "bills/images/logo-balloon.png" %}"
                      alt="Bill Tracker logo" />
                      Bill Tra<span class="fixBigKerningGap">c</span>k<span class="fixSmallKerningGap">e</span>r
                    </a>

                    <div id="st-trigger-effects">
                      <button id="mobileMenuButton" data-effect="st-effect-7">
                        <i class="fa fa-bars"></i>
                      </button>
                    </div>

                    <ul id="ultraTopNav">
                      <li><a href="/bill-listing/">Bills</a></li>
                      <li><a href="/about-us/">About</a></li>
                      <li><a href="/blog/">Blog</a></li>
                      <li><a href="/contact-us/">Contact</a></li>
                    </ul>

                  </div>

                </header>



                  {% block content %}{% endblock %}



                <footer>
                  <div class="container">
                    <p class="footerPhotoCredit">Texas capitol photo by <a target="_blank" href="https://www.flickr.com/photos/thelukeparker/14170034048/in/photolist-nAa8rS-nbT8E6-nbT3P6">Luke Parker</a>.</p>
                    <p class="footerAbout">An <a target="_blank" href="http://atxhackforchange.org/">ATX Hack For Change</a> 2015 project. See our code <a target="_blank" href="https://github.com/bill-tracker/bill-tracker">on Github</a>.</p>
                  </div>
                </footer>

              </div><!-- /st-content-inner -->

          </div><!-- /st-content -->

        </div> <!-- st-pusher -->

      </div> <!-- st-container -->

    {% if debug %}
    <script src="{% static "bills/scripts/src/ajquery-1.10.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "bills/scripts/src/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "bills/scripts/src/global.js" %}" type="text/javascript"></script>
    <script src="{% static "bills/scripts/src/classie.js" %}"></script>
    <script src="{% static "bills/scripts/src/sidebarEffects.js" %}"></script>
    <script src="{% static "bills/scripts/src/intro.js" %}"></script>
    {% else %}
    <script src="{% static "bills/scripts/dist/scripts.min.js" %}"></script>
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

  </body>
</html>
