{% extends "bills/base.html" %}

{% load staticfiles %}
{% block content %}


  <div class="container mainContent blog">

    <div class="row">

      <h1>Blog</h1>

      <h3>Why We're Building Bill Tracker</h3>

      <p class="postInfo">By Mark 8/4/15</p>

      <h4>Community dialog and insight into pending legislation</h4>
      <p>Data shows that legislators don't always listen to or care about what constituents want.  This is a real breakdown in democracy.</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/5tu32CCA_Ig?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

      <p>Although there is transparency in legislation, not everyone knows where to find pending legislation or has time to follow it.  It's often not presented in a way that fosters dialog.  We built Bill Tracker to try to remedy that and to crowdsource analysis of pending legislation.</p>

      <h4>Version Control For Legislation</h4>
      <p>Our dream is that legislation is under the same kind of version control that programmers work with... lorem ipsum lorem ipsum... someone needs to flesh this post out and finish it...</p>

    </div>

  </div>

{% endblock %}
