{% extends "bills/base.html" %}

{% load staticfiles %}
{% block content %}

<div class="container mainContent" style="margin-top:70px">

  <div class="row">

    <div class="col-xs-8" style="padding-right: 50px;">

      <div class="barWrapper">
        <div class="progress" style="height:20px;">
          <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" style="width: 65%;">
            <span class="popOver" title="" data-placement="top" data-toggle="tooltip" data-original-title="65%" aria-describedby="tooltip279578"> </span>
            <div id="tooltip279578" class="tooltip fade top in" role="tooltip" style="top: -50px; left: 50.9333px; display: block;">
              <div class="tooltip-arrow" style="left: 50%;"></div>
              <div class="tooltip-inner">Referendum</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--


    <div class="row">

      <div class="col-xs-8" style="padding-right: 50px;">
        <div class="progress" style="height:20px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:70%;color:#2c3e50;">
            <span class="sr-only">70% Complete</span>
          </div>
        </div>
      </div>
      <div class="col-xs-4" style="height:20px;">
      </div>
    </div>
-->

    <div class="row">

      <div class="col-xs-8" style="padding-right: 50px;">
        <h1 style="text-align:center;"><a>&lt;</a>&nbsp;&nbsp;&nbsp;    {{bill.title}}
          &nbsp;&nbsp;&nbsp;<a>&gt;</a></h1>
        <br/>
        <p>{{bill.text}}<p>
      </div>

      <div class="col-xs-4">
        <h1>Some Comments</h1>
        <a><h5>Eman Em</h5></a>
        <p>Here's my ten cents; my two cents is free.</p>
        <a><h5>TrumpFan2016</h5></a>
        <p>@Eman Stop giving away free stuff, socialist!</p>
        <div>
          <textarea class="vert"></textarea>
          <button class="btn btn-info" type="submit">
            <i>
            </i>
            &nbsp;&nbsp;
            Submit
          </button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
